

:root {
  --light-grey:#DDDDDD;
  --grey: #b7b7b7;
  --dark-grey: #666666;
  --blue-grey: #374650;
  --discord-blue: #5865F2;
  --white: #ffffff;
  --purple: #A379C9;
}

* {
  font-family: Inter;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color:var(--dark-grey)
}

a:hover {
  text-decoration: underline;
}


/* header specific classes and ids */

.header-container {
 display:flex;
  margin:0;
  max-width: 1728px;
  height: 72px;
  border-bottom: 1px var(--light-grey) solid
}

.header-left {
  margin-left:10%;
  display:flex;
  flex:1;
  align-items: center;
}

.header-right {
  margin-right: 10%;
  display: flex;
  flex:1;
  justify-content: flex-end;
  align-items: center;
}

.header-left-link {
  padding:5px;
}

.header-right-link {
  padding:20px;
}

#RD-header-text {
  font-size: 24px;
  font-weight: 600;
  color: var(--blue-grey);
}

#RD-header-icon {
  max-height: 32px;
  width: auto;
}

#RD-header-icon:hover {
  opacity: 60%;
}



/* Main Page Style */

.main-container {
  display: flex;
  flex: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.main-left-container {
  flex:3;
  flex-direction: column;
}
.main-right-container {
  flex:2;
}

.welcome-section-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#welcome-text {
  font-size: 40px;
  font-weight: 600;
  color: var(--blue-grey);
}

.welcome-item {
  display: flex;
  margin-bottom: 25px;
  flex-direction: row;
}

#tagline-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--blue-grey);
}

.link-btn {
  justify-content: center;
  align-items: center;
}

#discord-btn {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  width: 220px;
  height: 46px;
  background-color: var(--discord-blue);
  border-radius: 8px;
  justify-content: space-around;
}

#discord-btn:hover {
  opacity: 60%;
}

#discord-btn-text {
  color: var(--white)
}

#discord-link:hover {
  text-decoration: none;
}

#discord-btn-icon {
  max-height: 18.43px;
  width: auto;
}

#events-btn {
  display: flex;
  width: 168px;
  height: 46px;
  border: 2px var(--grey) solid;
  border-radius: 8px;
}

#events-btn:hover {
  background-color: var(--grey);
}

#events-link {
  margin-left: 10px;
}

.event-lg-container {
  display: flex;
  margin: 20px 0 40px 0;
  width: 823px;
  height: 464px;
}

.event-thumb-lg {
  position: absolute;
  z-index: -1;
  border-radius: 24;
}

.event-lg-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  bottom: 0;
  justify-content: flex-end;
  padding: 48px 32px 48px 32px;
}

.event-title-text, .event-speaker-text, .event-next-text {
  color: var(--white);
}

.event-title-text {
  font-size: 28px;
  font-weight: 600;
}

.event-speaker-text {
  font-size: 18px;
  font-weight: 500;
}

.event-next-text {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 4px;
}

#sponsors-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: content-box;
  height: 200px;
  width: 823px;
  padding-top: 60px;
  padding-bottom: 68px;
  border-bottom: 1px solid black;
}

/* Code of conduct and privacy policy rules */
div.legal{
  margin: 50px 200px;
}

.legal h1 {
  text-align: center;
}

.legal ul {
  margin-left: 50px;
}

.legal p, .legal h1, .legal h2, .legal h3 {
  padding: 10px;
}

/* End code of conduct and privacy policy rules */


/* Footer rules */

#footer-box {
  height: 690px;
  position: relative;
}

#footer {
  height: 514px;
  background-color: var(--purple);
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#RD_footer_icon {
  width: 80px;
  position: absolute;
  left: 144px;
  top: 474px;
}

#footer-links {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 510px;
  left: calc(144px + 80px);
  padding-left: 50px;
}

#footer-links a {
  color:white;
}

#footer-skyline {
  position: absolute;
  width: 756px;
  height: 225px;
  right: 0px;
  top: 0px;
}

/* End of footer rules */
